<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Guten Tag,<br><br>
    bitte bestätigen Sie, ob die folgende Schicht wie geplant stattfindet:<br><br>
  <b>Name:</b> M. Haselmayer<br>
  <b>Datum:</b> <%= @date %><br>
  <b>Schicht:</b> <%= @name %><br>
  <b>Zeit:</b> <%= @time %> <br></p>
<%= confirm_url(:host => "https://labo-splan-hasehase.c9users.io", :unique_identifier => @uid) %>
<%= deny_url("Ablehnen", :host => "https://labo-splan-hasehase.c9users.io", :unique_identifier => @uid) %>
  </body>
</html>
