<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Guten Tag,<br><br>
    bitte bestätigen Sie, ob die folgende Schicht wie geplant stattfindet:<br><br>
  <b>Name:</b> M. Haselmayer<br>
  <b>Datum:</b> <%= @date %><br>
  <b>Schicht:</b> <%= @name %><br>
  <b>Zeit:</b> <%= @time %> <br></p>

<%= link_to "Ja" , controller: "shifts", action: "confirm", unique_identifier: @uid %>
<nbsp>         </nbsp>
<%= link_to "Nein" , controller: "shifts", action: "confirm", unique_identifier: @uid %>
  </body>
</html>
