<div class="container">   
    <table class="table">
        <tr>
            <%= link_to "Neue Schicht hinzufügen", new_shift_path, class: "btn btn-success new_shift_btn" %>
        </tr>
        <tr>
            <th>#</th>
            <th>u#:</th>
            <th>Datum:</th>
            <th>Name:</th>
            <th>Zeit:</th>
            <th>Status:</th>
        </tr>
    
        <% @shifts.each do |shift| %>
            <% if shift.status == 0 %>
                <tr class="warning">
            <% end %>
            <% if shift.status == 1 %>
                <tr class="success">
            <% end %>
            <% if shift.status == 2 %>
                <tr class="info">
            <% end %>


            
        <td><%= shift.id %></td>
       <td><%= link_to shift.unique_identifier , controller: "shifts", action: "show", unique_identifier: shift.unique_identifier %></td>
        <td><%= Date.strptime( shift.date, '%Y-%m-%d').strftime('%d. %m. %Y') %></td>  
        <td><%= shift.name %></td>
        <td><%= shift.time %></td>
        <% if shift.status == 1 %>
            <td><i class="fa fa-check-square" aria-hidden="true"></i></td>
        <% end %>
        <% if shift.status == 2 %>
            <td><i class="fa fa-bed" aria-hidden="true"></i></td>
        <% end %>
        <% if shift.status == 0 %>
            <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
        <% end %>
        <td><%= link_to 'Löschen', shift, method: :delete, data: { confirm: 'Sicher?' } %></td>
        </tr>
        <% end %>
        
    </table>
</div>