<div class="container">   
    <table class="table table-bordered">
        <tr>
            <%= link_to "Neue Schicht hinzufügen", new_shift_path, class: "btn btn-success new-shift-btn" %>
            
        </tr>
        <tr>
            <th>Datum:</th>
            <th>Name:</th>
            <th>Zeit:</th>
            <th>Status:</th>
        </tr>
    
        <% @shifts.each do |shift| %>
            <% if shift.status == 0 %>
                <tr class="warning">
            <% end %>
            <% if shift.status == 1 %>
                <tr class="success">
            <% end %>
            <% if shift.status == 2 %>
                <tr class="info">
            <% end %>
            <td> 
                <% begin %>
                    <%= Date.strptime( shift.date).strftime('%d.%m.%Y') %>
                <% rescue ArgumentError %>
                    <% puts "invalid Date in Shift#{ shift.id }" %>
                    <%=  shift.date %>
                <% end %>
            </td>  
            <td><%= link_to shift.name , controller: "shifts", action: "show", unique_identifier: shift.unique_identifier %></td>
            <td><%= shift.time %></td>
            <% if shift.status == 1 %>
                <td><i class="fa fa-check-square" aria-hidden="true"></i></td>
            <% end %>
            <% if shift.status == 2 %>
                <td><i class="fa fa-bed" aria-hidden="true"></i></td>
            <% end %>
            <% if shift.status == 0 %>
                <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
            <% end %>
            </tr>
        <% end %>
        
    </table>
</div>