<div class="container">
<div class="well">

<%= form_for @shift do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control', id: "name" %>
	</div>
	
	<div class="form-group">
		<%= f.label "Zeit:" %>
		<%= f.text_field :time, class: 'form-control', id: "time" %>
	</div>
	
	<div class="form-group">
		<%= f.label "Datum:" %>
		<%= f.date_field :date, class: 'form-control'  %>
	</div>
	
	<div class="form-group">
		<%= label_tag(:status, "steht fest") %>
		<%= f.check_box :status %>
	</div>
	<%= f.submit 'Speichern', class: 'btn btn-default' %>
	
<% end %>


</div>
<div>
	<button class="btn btn-primary" onclick="FFSFunction()">FFS</button>
	<button class="btn btn-primary" onclick="FSFunction()">FS</button>
	<button class="btn btn-primary" onclick="SSFunction()">SS</button>
	<button class="btn btn-primary" onclick="SSSFunction()">SSS</button>
	<button class="btn btn-primary" onclick="NSFunction()">NS</button>
</div>
</div>