<div class="container">
  <div>    <%= link_to "Übersicht", shifts_path, class: "btn btn-primary new-shift-btn" %>
  <h3>SCHICHT:</h3> <br><br>
  <div class="center">
    <h4><%= @shift.name %></h4>
  </div>
    <table class="table well">
      <th>Datum:</th>
      <th>Zeit:</th>
      <th>Status:</th>
      <tr>
      <td>
        <% begin %>
        <%= Date.strptime( @shift.date).strftime('%d.%m.%Y') %>
        <% rescue ArgumentError %>
        <%  puts "invalid Date in Shift#{ @shift.id }" %>
        <%=  @shift.date %>
        <% end %>
      </td>
      <td><%= @shift.time %></td>
        <% if @shift.status == 1 %>
            <td><i class="fa fa-check-square" aria-hidden="true"></i>
        <% end %>
        <% if @shift.status == 2 %>
            <td><i class="fa fa-bed" aria-hidden="true"></i>
        <% end %>
        <% if @shift.status == 0 %>
            <td><i class="fa fa-question-circle" aria-hidden="true"></i>
        <% end %>
        <% if @shift.req_status == true %>
          <i class="fa fa-envelope" aria-hidden="true"></i>
        <% else %>
        <% end %>
        </td>
      </tr>
    </table>
    <h6>Log:</h6>
    <div class="container"><%= raw @shift.logs %></div>

      <div class="center buttonbox">
        <%= link_to "Bestätigen", confirm_path, class: "btn btn-default btn-primary" %>
        <%= link_to "Ablehnen", deny_path, class: "btn btn-default btn-warning" %>
        <%= link_to "Löschen", delete_path, class: "btn btn-default btn-danger", data: { confirm: 'Wirklich löschen?' } %>
        
        <%= link_to "Mailen", mail_path, class: "btn btn-default btn-info" %>
        <br>
      </div>
  </div>
  
</div>