<div class="container">
  <div class="well">
  <h3>SCHICHT:</h3> <br><br>
    <table class="table">
      <tr>
          <td><%= @shift.name %></td>
      </tr>
      <tr>
      <td><%= @shift.date %></td>
      <td><%= @shift.time %></td>
        <% if @shift.status == 1 %>
            <td><i class="fa fa-check-square" aria-hidden="true"></i></td>
        <% end %>
        <% if @shift.status == 2 %>
            <td><i class="fa fa-bed" aria-hidden="true"></i></td>
        <% end %>
        <% if @shift.status == 0 %>
            <td><i class="fa fa-question-circle" aria-hidden="true"></i></td>
        <% end %>
        <br><br>
      </tr>
    </table>
      <%= link_to "Bestätigen", confirm_path, class: "btn btn-default navbar-btn btn-primary" %>
      <%= link_to "Ablehnen", deny_path, class: "btn btn-default navbar-btn btn-warning" %>
  </div>
</div>